@using AlphaMaterials.Models
@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Пользователи";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Роли</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Email</td>
                <td>@string.Join(", ", u.Roles)</td>
                <td>
                    <a asp-action="EditRoles" asp-route-id="@u.Id" class="btn btn-sm btn-primary">
                        Изменить роли
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
